body {
    background: linear-gradient(45deg, rgba(19,185,10,1) 0%, rgba(164,255,0,1) 100%);
    filter: brightness(70%);
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}
#word{
    height: auto;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    display: flex;
    position: relative;
}
h1{
    font-size: 70px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
p{
    text-align: center;
    position: fixed;
    margin-top: 200px;

}
button{
    text-align: center;
    height: 40px;
    position: fixed;
    border-radius: 15px;
    border-color: lawngreen;
    background-color: greenyellow;
    margin-top: 250px;

}
#right-bottom{
    position: fixed;
    right: 15%;
    bottom: 10%;
    color: rgb(134, 134, 134);
}

#player-letters #player-life{
    float: right;
    position: fixed;
    font-size: 25px;
}