.game-board{
    width: 0vw;
    height: 0vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
}
h1{
    position: relative;
    text-align: center;
}

#buttons{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

#buttons button{
    position: relative;
    font-family: inherit;
    font-size: 40px;
    margin: 10px;
    border: none;
    background-color: greenyellow;
    border-radius: 15px;
    cursor: pointer;
}