<!DOCTYPE html>
<html lang="en">

<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="static/css/main.css">
{%block head%}
<link rel="stylesheet" href="static/css/index.css">
{%endblock%}
</head>

<body>
    <nav>
        <ul>
            <li id="left-li"><a href="{{url_for('index')}}">Home</a></li>
            <li id="left-li"><a href="{{url_for('snake')}}">Snake</a></li>
            <li id="left-li"><a href="{{url_for('reaction_time_game')}}">Reaction Time</a></li>
            <li id="left-li"><a href="{{url_for('typing_game')}}">Typing</a></li>
            <li id="left-li"><a href="{{url_for('hangman')}}">Hangman</a></li>
            <li id="left-li"><a href="{{url_for('breakout')}}">Breakout</a></li>
            <li id="right-li"><a href="{{url_for('hall_of_fame')}}">Hall of Fame</a></li>
        </ul>
    </nav>
{%block body%}
    <h1>Welcom to our GameStop!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit venenatis orci sit amet lacinia. Pellentesque dignissim, tellus ac ornare cursus, arcu elit vulputate elit, nec porttitor erat mauris et arcu. Phasellus vel nisl sollicitudin, ullamcorper risus non, vestibulum nisi. Phasellus a justo varius, varius lorem a, posuere diam. Duis hendrerit condimentum libero at mattis. Nam sodales ultricies lectus. Cras tincidunt massa quis dolor faucibus, ut bibendum mauris sollicitudin. Proin sed arcu quis eros imperdiet molestie. Fusce sollicitudin tristique eros, vel imperdiet sem sollicitudin vel. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin in fringilla augue, in sollicitudin ante. Curabitur malesuada magna ac neque pharetra, vel porttitor nulla dictum. Praesent tempus id libero a facilisis. In in lectus nec lacus mollis cursus id sed ipsum. Phasellus fringilla libero id eros tincidunt, id suscipit metus vulputate.</p>
{%endblock%}
</body>

</html>